@font-face {
    font-family: 'Georama';
    src: url('/assets/fonts/Georama-VariableFont_wdth\,wght.ttf');
    font-weight: medium;
    font-style: normal;
}

:root {
    --primary-color: rgb(212 0 9);
    --mixed-color-1: rgb(218, 32, 55);
    --mixed-color-2: rgb(183, 45, 78);
    --mixed-color-3: rgb(159, 39, 87);
    --mixed-color-4: rgb(111, 48, 117);
    --mixed-color-5: rgb(73, 48, 135);
    --secondary-color: rgb(19 1 124);
    --black: rgb(0 0 0);
    --gray: rgb(237 236 240);
    --white: #ffffff;

    /* Bootstrap customization */
    --bs-font-sans-serif: 'Georama', sans-serif;
}

header, footer {
    z-index: 1030;
}

.margins {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

@media (max-width: 750px) and (min-width: 576px) {
    .margins {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}


#error-message {
    color: red;
    margin: 10px;
}

.loading-indicator {
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}